body
{
    background: url("../images/Video-Game-Characters.jpg");
    background-size: 1550px 760px;
    background-repeat: no-repeat;
    margin: 20px;
    font-family: 'Press Start 2P', cursive;
}

.container
{
    background-color: #778899;
}

h1
{

    font-size: 30px;
}

.alignment
{
    text-align: center;
    padding: 20px;
}

#time
{
    padding-bottom: 10px;
}


.btn-primary
{
    background-color: #00468b;
    border-color: #00468b;
}

.btn-info
{
    background-color: #00468b;
    border-color: #00468b;
}

img
{
    width: 280px;
    height: 255px
    
    
}

#adjustment
{
    padding: 20px;
}

#restart
{
    align-content: center;
}
